.vs/
bin/
obj/
Debug/
Win32/
x64/
minidump/
release/
*.opensdf
*.sdf
*.suo
*.aps
*.layout
*.depend
*.pyc
ipch/
.idea/
swig/build/
swig/x64dbg_wrap.cpp
swig/x64dbg_python/pluginsdk/x64dbg.py
swig/compile*.bat
swig/x64dbg_python/autorun/*.py